{%- macro verbose(comment) -%}
{{- '<!-- %s -->'|format( comment|replace("<!--","")|replace("-->","") ) if is_verbose -}}
{%- endmacro -%}

{%- macro header_translation_menu(links) -%}
{{- macros.verbose( "macro: macros.header_translation_menu(%s)"|format(links) ) -}}
    {{- ui.menu() -}}
{%- endmacro -%}
{#
    Used to generate all the links to the assets in the <head>.
    Ideally you won't call this directly but the helpers include_css() and include_js().
    It uses a global dictionary defined in the base.tmpl as the follow structure:
    {% set head_assets = {
        css: {
            link:"/assets/css/example.css",
            property: true
            ...
        },
        js: { ...}    
    } %}
    Where
#}
{#
{% macro head_includes() -%}
    {{- verbose("macro: head_includes()") -}}
    {%- for asset in head_assets.css -%} 
        {{ asset }}
    {%- endfor -%}
    {%- for asset in head_assets["js"] -%}
        {{ asset }}
    {%- endfor -%}
    {{- verbose("#END macro: head_includes()") -}}
{%- endmacro %}

{% macro include_css(link) -%}
    {{- verbose("macro: include_css(" ~ link ~ ")") -}}
    {%- set _dummy = head_assets.css.append(link) -%}
{%- endmacro %}
#}