{#################

    Global vars

#################}
{# TODO: Its likely to be moved all those vars to theme var -> config.py #}
{%- set is_verbose = true -%} {# Used to get a verbose HTML with extra comments. Recomended to disable on LIVE #}
{# Used to split the title between the current page title and the site_title #}
{%- set title_separator = " | " -%}

{#
    head_assets check in _helpers/base.jinja for full structure.
#}
{#
{%- set head_assets = {
    "css": [
        '<link href="/assets/css/main.css?" rel="preload" as="style" type="text/css" onload="this.rel=\'stylesheet\'" />',
    ],
    "js": []    
} -%}
#}
{%- set is_boxed = True -%}
{# 
    When true, will use the lang codes instead the full language name for the lang switcher.
#}
{%- set translation_menu_lang_code = true -%}
{# Init vars if weren't declared prior the extends() #}
{%- if not body_class -%}
    {%- set body_class = "" -%}
{%- endif -%}
{#
    Load the macros AFTER setting up the variables
#}
{#
    TODO: Figure out a way to load an unexisting file, so child theme can contain a "custom"
    macros that will overwrite just "same name" macros.
#}
{#% include "_helpers/custom.jinja" ignore missing with context as custom %#}
{%- import "_helpers/base.jinja" as macros with context -%}
{%- import "_helpers/ui.jinja" as ui with context -%}
<!DOCTYPE html>
<html class="no-js" {{ 'dir="rtl"' if globals.is_rtl }} lang="{{ content.lang }}">
<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        

        {# All SEO related inside #}

        {%- block seo -%}
            {{- '<title>%s</title>'|format(content.title|e ~ title_separator ~ globals.site_title|e if content.title != globals.site_title else globals.site_title|e ) -}}
            {{- '<meta name="description" content="%s">'|format(content.description|e) if content.description -}}
            {{- macros.verbose('Debug: NO DESCRIPTION!') if not content.description -}}
            {#
            {{- '<link rel="canonical" href="%s">'|format( content.permalink ) }}
            <!-- TODO: Canonical & alternate multilingual -->
            <!-- {{ other_languages|e }}-->
            #}

            <!-- TODO: Double check author (blog_author?) -->
            {{- '<meta name="author" content="%s">'|format(content.author|e) if content.author -}}

            {%- if content.prevlink -%}
                <link rel="prev" href="{{ content.prevlink|e }}" type="text/html">
            {%- endif -%}
            {%- if nextlink -%}
                <link rel="next" href="{{ content.nextlink|e }}" type="text/html">
            {%- endif -%}
        {%- endblock seo -%}

        {# END SEO RELATED #}

        <meta name="viewport" content="width=device-width">
        {#
        {{ macros.head_includes() }}
        #}
        {%- block head_include -%}
            <link href="/assets/css/main.css?" rel="preload" as="style" type="text/css" onload="this.rel='stylesheet'" />

        {%- endblock -%}

        <!-- TODO: FavIcon -->
         <meta name="theme-color" content="{{ theme_color }}">
        {%- if favicons -%}
            {%- for name, file, size in favicons -%}
                <link rel="{{ name }}" href="{{ file }}" sizes="{{ size }}"/>
            {%- endfor -%}
        {%- endif -%}

        {#{ feeds_translations.head(classification=None, kind='index', other=False) }#}
        



        {#% if comment_system == 'facebook' -%}
            <meta property="fb:app_id" content="{{ comment_system_id }}">
        {%- endif %#}



        
        {{ macros.verbose("extra_head")}}
        {{ extra_head_data }}
        
        {%- block extra_head -%}
        {#  Leave this block alone. #}
        {%- endblock -%}
        {#{ template_hooks['extra_head']() }#}
</head>
<body {{ 'class="%s"'|format(body_class) if body_class }}>
{%- block body -%}
    <div class="site-box {{ 'is_boxed' if is_boxed }}">
        <a href="#content" hidden class="">{#{ messages("Skip to main content") }#}</a>

        {%- include "_partials/header.html" -%}

        {%- block container_wrapper -%}
            <main id="site-content">
                {%- block content -%}
                    <h1>Hello world! - {{ blog_title }}</h1>
                {%- endblock -%}
            </main>
        {%- endblock container_wrapper -%}

        {%- include "_partials/footer.html" -%}

    </div>

    {#{ base.late_load_js() }#}

    {%- block footer_include -%}
        <script defer src="/assets/js/main.js"></script>
    {%- endblock -%}
    {#{- template_hooks['body_end']() -}#}
{%- endblock body -%}
{%- set debug = "%sTemplate in use: %s\n"|format(debug, template_name) if is_verbose -%}
{{- "<pre id='is_verbose'> %s </pre>"|format(debug|e) if is_verbose -}}
</body>
</html>